*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}
.logo img{
    width: 80px;
    height: 50px;

}
.navbar{
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #5B5B5B;
}
.nav-link:hover{
    color: #49BBBD;
}
#profile{
    display:flex;
    align-items: center;
    gap: 0.5rem;
}
.nav-list img{
    width: 30px;
    height: 30px;
}
.hero-section{
    background-color: #d1e3f6;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
}
.hero-section .left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    
}
.hero-section .left-side span{
    color: #49BBBD;
    font-weight: 700;
}
.hero-section .left-side .title{
    color: #2F327D;
    font-size: 35px;
    font-weight: 600;
    word-spacing: 2px;
}
.hero-section .left-side .sub-title{
    color: #5B5B5B;
    line-height: 1.5;
    word-spacing: 3px;
}
.hero-section .left-side button{
    color: white;
    background-color: #49BBBD;
    width: 12rem;
    padding: 8px;
    border-radius: 7px;
    border: none;
    font-weight: 700;
    transition: 0.3s all ease-in-out;
}
.hero-section .left-side button:hover{
    background-color: white;
    color: #49BBBD;
    cursor: pointer;
    scale: 1.05;
}   
.hero-section .right-side img{
    width: 100%;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
}
.hero-section .right-side img:hover{
    scale: 1.08;
}
.reading-blog{
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    gap: 1rem;
}
 .reading-blog .container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.reading-blog .card{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    transition:0.3s all ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    align-content: end;
}
.reading-blog #ui-card{
    background-image: url("./images/ui-card.jpg");
}
.reading-blog #js-card{
    background-image: url("./images/js-card.jpg");
}
.reading-blog #php-card{
    background-image: url("./images/php-card.jpg");
}
.reading-blog #react-card{
    background-image: url("./images/react-card.jpg");
}
.reading-blog .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    translate: 5px -5px;
}
.reading-blog .langs{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 60%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: #e7eaec;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    opacity: 0.5;
        cursor: pointer;
        transition:0.3s all ease-in-out;

}
.reading-blog .langs:hover{
    opacity: 1;
    scale: 1.05;
 
}
.related-blog{
    background-color:#d1e3f6 ;
    padding: 1.5rem;
}

.header .title{
    font-weight: 400;
    font-size: 30px;
}
.header-link{
    text-decoration: none;
    color: #49BBBD;
    font-weight: 700;
}
.header-link:hover{
    text-decoration: underline;
}
.related-blog .cards{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.related-blog .card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    width: 450px;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
}
.related-blog .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    translate: 5px -5px;
}
.related-blog .card .card-img{
    max-width: 100%;
    height:90%;
}
.related-blog .card .card-title{
    font-size: 1rem;
    font-weight: 200;
    word-spacing: 2px;
}
.related-blog .card .user{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.related-blog .card .user img{
    width: 40px;
    height: 40px;
    
}
.related-blog .card .sub-title{
    color: #5B5B5B;
    font-size: 15px;
}
.related-blog .card .footer{
    display: flex;
    justify-content: space-between;
    color: #5B5B5B;
}
.related-blog .card .footer a{
        color: #5B5B5B;
}
.marketing{
    padding: 2rem;
}
.marketing .cards{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.marketing .card{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem;
    background-color: #e7eaec;
    width: 280px;
    border-radius: 10px;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
}
.marketing .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    translate: 5px -5px;
}
.marketing .card h2{
    font-size: 20px;
    color: #252641;
    font-weight: 300;
}
.marketing .card .sub-title{
    color: #5B5B5B;
    font-size: 0.8rem;
}
.marketing .card-img{
    width: 100%;
}
.marketing .tools{
    display: flex;
    justify-content: space-between;
}
.marketing .user-info{
    display: flex;
    justify-content: space-between;
}
.marketing .left-side , .marketing .right-side{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.marketing .user-info-img{
    width: 30px;
}
.marketing .right-side .price{
    color: #49BBBD;
    font-weight: 600;
}
.marketing .right-side .old-price{
    color: #5B5B5B;
    text-decoration: line-through;
}
.subscribe-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #d1e3f6;
}
.subscribe-form .title{
    font-size: 2rem;
    font-weight: 400;
}
.subscribe-form .sub-title{
    color: #5B5B5B;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
    word-spacing: 2px;
}
.subscribe-form .inputs{
    display: flex;
    gap: 1rem;
}
#email , #phone{
    padding: 1rem 4rem;
    border-radius: 3rem;
    border: #B2B3CF solid 1px;
}
.subscribe-form #sub-btn{
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    background-color: #49BBBD;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.subscribe-form #sub-btn:hover{
    background-color: white;
    scale: 1.05;
    color: #49BBBD;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color:#252641 ;
    padding: 2rem;
}
footer .logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}
footer .logo h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

footer .form h3, footer #copy , footer .links a , .links{
    color: #B2B3CF;
}
footer .links{
    display: flex;
    gap: 1rem;
}
footer .links a{
    text-decoration: none;
}
footer .links a:hover{
    text-decoration: underline;
    color: white;
}
footer .social-links i{
    color: #B2B3CF;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
    gap: 1rem;
}
footer .social-links i:hover{
    color: white;
    scale: 1.2;
}
/* responsive */
/* mobile */
@media (max-width:767px) {
    .nav-list{
        display: none;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
    }
      .hero-section .left-side,.reading-blog,.related-blog .cards{
        align-items: center;
    }

    .marketing .card ,.related-blog .card {
        width: 90%;
    }
     footer .links, .related-blog .cards ,.subscribe-form .inputs{
    flex-direction: column;
}

}
/* tablet */
@media (min-width:768px) and (max-width:991px){
     .hero-section{
        flex-direction: column;
        text-align: center;
    }
    .hero-section .left-side{
        align-items: center;
}
    .reading-blog{
        align-items: center;
     }
     .reading-blog .container{
        width: 90%;
    }

    .related-blog .cards{
        justify-content: center;
    }
    .related-blog .card{
        width: 350px;
    }
    .marketing .card{
        width: 45%;
    }
}
/* labtop */
/* @media (min-width:992px) and (max-width:1250px){
    .reading-blog{
        align-items: center;
     }
     .reading-blog .images{
        justify-content: center;
}
    .reading-blog .images .blog-img {
        width: 40%;
    }
    .related-blog .cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .marketing .card{
        width: 30%;
    }
} */